h1{
    
    background-image: url(../group-project/images/LEGEND\ GAMER\ );
    text-align: center;

}
body{
    text-align: center;
}
#bg{
   text-align: center;
   text-decoration-color: red;
   background-image: url(../gr);
}